# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Local audio/output contents
input/*
working/*
output/*
tools/*
models/*

# Keep folder placeholders
!input/.gitkeep
!working/.gitkeep
!output/.gitkeep
!tools/.gitkeep
!models/.gitkeep

# Large/local binaries and models
*.bin
*.exe
*.dll